<ion-view title="Change Password">
    <ion-nav-bar class="bar-stable"><ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button></ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Current Password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">New Password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <form class="list"></form>
        <ion-list></ion-list>
        <!--<div class="spacer" style="width: 283px; height: 243px;"></div>-->
        <button class="button button-positive button-block" style="bottom:0px!important;">Change Password</button>
    </ion-content>
</ion-view>