<style>
    h3, h5 {
        color: #387EF5;
    }
</style>
<ion-view title="Forget Password">
    <ion-nav-bar class="bar-stable"><ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button></ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div>
                <p>Forget Your Password? No problem. We'll email it to you!</p>
            </div>
            <h5>Email Address:</h5>
            <label class="item item-input">
                <input type="text" placeholder="someone@xyz.com">
            </label>
        </form>
        <button class="button button-positive button-clear button-block " onclick="window.location.href = '#/login'">Email me my password!</button>
        <div class="spacer" style="width: 283px; height: 35px;"></div>
        <h3>New User: Sign Up!</h3>
        <div>
            <p>If you're not yet connected to DeliveryApp, it's too late to signup for boost up your bussiness</p>
        </div>
        <button class="button button-positive button-block " onclick="window.location.href = '#/signup'">Sign Up!</button>
    </ion-content>
</ion-view>