
<!--<ion-view ng-init="initialize()" title="Route">
    <ion-nav-bar class="bar-stable"><ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button></ion-nav-bar>
</ion-view>-->
<style>
     .custom-marker.my1 {
        font-size: 1.5em;
        padding: 10px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
      }
</style>

<ion-view title="<i class='ion-ios-timer icon_colour1'></i>&nbsp;&nbsp;Task Route">
    <ion-nav-bar class="bar-calm">
        <ion-nav-buttons side="right">
            <button class="button button-icon ios-basket-outline" ng-click="start()">Start</button>
            <button class="button button-icon ion-android-more-vertical" ng-click="showdetails()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="left">
            <button class="button button-icon ios-stopwatch-outline" ng-click="stopday()">Stop</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
                <ion-content>
                    <ion-item>
                        <ng-map id="twist" zoom="16" style="margin-left:5px!important;">
                            <directions draggable="true"
                                        panel="directions-panel"
                                        travel-mode="DRIVING"
                                        waypoints="{{wayPoints}}"
                                        origin="{{origin}}"
                                        destination="{{destination}}">
                            </directions>
                            <custom-marker ng-repeat="addr in withoutorigin" position="{{addr.position}}">
                                <div class="my1"><a ng-click="clickMarker(addr)"> {{addr.name}} </a> </div>
                            </custom-marker>
                        </ng-map>
                        Directions path length:
                        <!--{{map.directionsRenderers[0].directions.routes[0].overview_path.length}}-->
                    </ion-item>

                    
                </ion-content>
</ion-content>
</ion-view>
