<ion-view title="Setting">
    <ion-nav-bar class="bar-stable"><ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button></ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-checkbox>Show Traffic</ion-checkbox>
            <div class="spacer" style="width: 283px; height: 6px;"></div>
            <label class="item item-select">
                <span class="input-label">Notification Tone</span>
                <select>
                    <option>Default</option>
                    <option>Beep Once</option>
                    <option>Bubbles</option>
                    <option>Charming Bell</option>
                    <option>Chirps</option>
                    <option>Dew Drops</option>
                    <option>Facebook Pop</option>
                    <option>Flowers</option>
                    <option>Good News</option>
                    <option>Hangouts Message</option>
                    <option>Harmonics</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">vibration</span>
                <select>
                    <option>Long</option>
                    <option>System</option>
                </select>
            </label>
            <ion-checkbox>Repeat</ion-checkbox>
            <div class="spacer" style="width: 283px; height: 6px;"></div>
            <label class="item item-select">
                <span class="input-label">language</span>
                <select>
                    <option>English</option>
                    <option>Hindi</option>
                    <option>Italian</option>
                    <option>Spanish</option>
                    <option>Portuguese</option>
                    <option>Arabic</option>
                </select>
            </label>
            <div class="spacer" style="width: 283px; height: 5px;"></div>
            <ion-checkbox>Power Saving mode</ion-checkbox>
        </form>
    </ion-content>
</ion-view>