<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Company Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="Phone">
                    <span class="input-label">Phone</span>
                    <input type="tel" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">RE-Type Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <ion-list></ion-list>
            <label class="item item-select">
                <span class="input-label">Select workflow</span>
                <select>
                    <option>PickUp &amp; Delivery</option>
                    <option>Appointment</option>
                    <option>Mobile Workforce</option>
                </select>
            </label>
            <button class="button button-positive button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>